/* Importing Google Fonts to be used for CSS styling */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/* Includes media query to keep design and styling consistent, regardless of device and screen size */
/* Also using grid-auto-rows: min-content to take up little amount of space without overflowing */
@media screen {

    body, html {
        margin: 0;
        padding: 0;
    }

    #title {
        color: rgb(84, 15, 149) !important;
        font-family: 'Bungee', cursive;
        font-size: 100px;
        text-align: center;
        background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 65%) 15%, hsl(218, 41%, 60%) 35%, hsl(218, 41%, 50%) 75%, hsl(218, 41%, 49%) 80%, transparent 100%),
                          radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 75%) 15%, hsl(218, 41%, 60%) 35%, hsl(218, 41%, 50%) 75%, hsl(218, 41%, 49%) 80%, transparent 100%);
        margin: 0;
        padding: 0;
        grid-auto-rows: min-content;
    } 

    /* Setting up a Flexbox grid to have a clean display for our links to other pages */
    #list {
        background-image: radial-gradient(650px circle at 0% 0%, hsl(0, 0%, 85%) 15%, hsl(0, 0%, 80%) 35%, hsl(0, 0%, 75%) 75%, hsl(0, 0%, 74%) 80%, transparent 100%),
                          radial-gradient(1250px circle at 100% 100%, hsl(0, 0%, 90%) 15%, hsl(0, 0%, 80%) 35%, hsl(0, 0%, 75%) 75%, hsl(0, 0%, 74%) 80%, transparent 100%);
        font-family: 'Titillium Web', sans-serif;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        row-gap: 20px;
        column-gap: 100px;
        margin: 0;
        padding: 0; 
        grid-auto-rows: min-content;
        list-style: none;
    }

    #subtitle {
        color:blueviolet;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
        text-align: center;
        grid-auto-rows: min-content;
    }

    #image {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 30px;
        grid-auto-rows: min-content;
    }

}